<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<style>
    .show {display: block;}
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
    display:inline-table;
    table-layout:fixed;

}
</style>

    <title>La Banque</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">La Banque</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comptes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">Dropdown</a>
                    <div class="dropdown-menu" id="dropdown-content" >
                        <a class="dropdown-item" href="/operations">Operations</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div  style="display: flex;padding-top: 100px;padding-right:10px"  >
    <div style="padding: 0px 00px 10px 10px;" >
        <table style="width:100%;">
            <tr >
                <th class="nav-link">Consulttions des comptes</th>
            </tr>
            <tr class="dropdown-divider">
                <td>
                    <form th:action="@{/consultercompte}" method="get">
                        <div style="padding: 10px;">
                            <label>
                                code Cpte:
                            </label>
                            <input type="text" name="codeCompte" th:value="${codeCompte}">
                            <button type="submit" class="btn btn-primary"> Ok</button>
                        </div>

                    </form>
                    <div class="text-danger" th:if="${exception}" th:text="${exception.message}">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding: 0px 0px 10px 550px;" th:if="${compte}" >
        <table style="width:100%;" >
            <tr >
                <th class="nav-link">Informations sur le comptes</th>
            </tr>
            <tr class="dropdown-divider">
                <td>
                    <div>
                        <label>
                            Client:
                        </label>
                        <label th:text="${compte.client.nom}">
                        </label>
                    </div>
                    <div>
                        <label>
                            Solde:
                        </label>
                        <label th:text="${compte.solde}">
                        </label>
                    </div>
                    <div>
                        <label>
                            Date de Creation:
                        </label>
                        <label th:text="${compte.dateCreation}">
                        </label>
                    </div>
                    <div>
                        <label>
                            Type:
                        </label>
                        <label th:text="${compte.class.simpleName}">
                        </label>
                    </div>
                    <div th:if="${compte.class.simpleName=='CompteCourant'}">
                        <label>
                            Découvert:
                        </label>
                        <label th:text="${compte.decouvert}">
                        </label>
                    </div>
                    <div th:if="${compte.class.simpleName=='CompteEpargne'}">
                        <label>
                            Taux:
                        </label>
                        <label th:text="${compte.tx_Inter}">
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div   style="display: flex ;padding-right:10px;padding-top: 100px"  >
    <div style="padding: 0px 00px 10px 10px;" th:if="${compte}">
        <table style="width:100%;" >
            <tr >
                <th class="nav-link">Operations sur le comptes</th>
            </tr>
            <tr class="dropdown-divider">
                <td>
                    <form th:action="@{/saveOperation}" method="post">
                        <div>
                            <label>
                                Compte
                            </label>
                            <input type="hidden" name="codeCompte" th:value="${codeCompte}">
                            <label th:text="${codeCompte}"></label>
                        </div>
                        <div>
                            <input type="radio" name="typeOperation" value="vers" checked="checked" onchange="document.getElementById('forVirment').style.display = 'none'">
                            <label>Versement</label>
                            <input type="radio" name="typeOperation" value="retr"  onchange="document.getElementById('forVirment').style.display = 'none'">
                            <label>Retrait</label>
                            <input type="radio" name="typeOperation" value="vir"  onchange="document.getElementById('forVirment').style.display = 'block'">
                            <label>Virement</label>
                        </div>
                        <div id="forVirment" style="display:none">
                            <label>Vers:</label>
                            <input type="text" name="codeCompte2">
                        </div>
                        <div>
                            <label>Montant:</label>
                            <input type="text" name="montant">
                        </div>
                        <div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}">

                        </div>
                        <button type="submit" class="btn btn-primary"> Save</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
     <!--<div th:if="${compte}" style="padding: 0px 0px 10px 550px;"  >

        <table style="width:100%;">
            <tr >
                <th class="nav-link">Listes des Operations</th>
            </tr>
            <tr class="dropdown-divider">
           <td>Num Type Date Montant</td>


            </tr>
        </table>
    </div> -->

</div>




<script >
    function myFunction() {
  document.getElementById("dropdown-content").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.nav-link dropdown-toggle')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>